<div class="center">
    <section id="content">

        <h1 class="subheader">Crear Artículo</h1>

        <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" name="titulo" #titulo="ngModel" [(ngModel)]="article.title" required />

                <small *ngIf="!titulo.valid && titulo.touched">
                    El título no es válido
                </small>
            </div>

            <div class="form-group">
                <label for="contenido">Contenido</label>
                <textarea name="contenido" #contenido="ngModel" [(ngModel)]="article.content" required></textarea>

                <small *ngIf="!contenido.valid && contenido.touched">
                    El contenido no es válido
                </small>
            </div>

            <div class="form-group">
                <angular-file-uploader
                    [config]="afuConfig"
                    (ApiResponse)="imageUpload($event)"
                >
                </angular-file-uploader>
            </div>

            <h3 *ngIf="status == 'success'">Artículo creado</h3>
            <h3 *ngIf="status == 'error'">Error al crear el artículo</h3>

            <div class="clearfix"></div>

            <input type="submit" value="Guardar" class="btn btn-success" [disabled]="articleForm.invalid" />

       </form>

    </section>

    <app-sidebar></app-sidebar>
</div>